<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs') %>
<body>
    <h1>listado de socios </h1>
        <ul>
            <% for (i= 0; i < socios.length ; i++ ) {%>
                <li>
                    <%= socios[i]%>
                </li>
            
           <%}%>
        </ul>
        <%- include('partials/footer.ejs') %>
</body>
</html>